Repository HabKaffee/ml_tg_bot, pull requests merged in 2025-03, with the labels that each got.

#3 AI command parser
  .vscode/launch.json
  pyproject.toml
  requirements.txt
  src/image_processing/command.py
  src/image_processing/command_parser/ai_command_parser.py
  src/image_processing/command_parser/command_parser_creator.py
  src/image_processing/command_parser/few_shot_examples.json
  src/image_processing/examle.py
  src/image_processing/image_processor.py
  src/image_processing/kernels/kernel_types.py
Labels: Image Processing

#5 Init files verification for PyLint in CI
  .github/workflows/test.yml
  config/__init__.py
  config/py_init_checker.py
  config/run_black.sh
  config/run_isort.sh
  config/run_lint.sh
  config/run_mypy.sh
Labels: CI

#7 Audio2Text: model init, test on golos ds
  config/run_mypy.sh
  pyproject.toml
  requirements.txt
  src/audio2text/__init__.py
  src/audio2text/example.py
  src/audio2text/utils.py
Labels: Audio2Text

#14 Added sticker generator
  .vscode/launch.json
  requirements.txt
  src/image_processing/example.py
  src/image_processing/image_processor.py
  src/sticker_generator/__init__.py
  src/sticker_generator/example.py
  src/sticker_generator/sticker_generator.py
  src/utils.py
Labels: Sticker Generation

#17 Divide bot logic into separate files
  .gitignore
  app.py
  config/run_black.sh
  config/run_isort.sh
  config/run_lint.sh
  config/run_mypy.sh
  pyproject.toml
  src/sticker_generator/example.py
  src/sticker_generator/sticker_generator.py
  src/telegram_bot/app.py
  src/telegram_bot/bot.py
  src/telegram_bot/utils.py
  src/utils.py
Labels: CI, App

#15 Pass image info to AI parser
  .vscode/launch.json
  config/.pylintrc
  config/run_lint.sh
  pyproject.toml
  src/image_processing/command_parser/ai_command_parser.py
  src/image_processing/command_parser/command_parser.py
  src/image_processing/command_parser/pattern_command_parser.py
  src/image_processing/example.py
  src/image_processing/image_processor.py
  src/utils.py
Labels: Image Processing, CI

#16 Audio2Text: Bot integration func, cuda support
  requirements.txt
  src/audio2text/example.py
  src/audio2text/speech_recognition.py
  src/audio2text/utils.py
Labels: Audio2Text

#19 Multiple Language Packages
  src/image_processing/command_parser/ai_command_parser.py
  src/image_processing/command_parser/command_parser.py
  src/image_processing/command_parser/few_shot_examples_en.json
  src/image_processing/command_parser/few_shot_examples_ru.json
  src/image_processing/command_parser/language.py
  src/image_processing/command_parser/language_package.py
  src/image_processing/command_parser/pattern_command_parser.py
  src/image_processing/example.py
Labels: Image Processing, App

#20 Provide NN models integration into bot functionality
  app.py
  src/audio2text/example.py
  src/audio2text/speech_recognition.py
  src/image_generation/generation.py
  src/telegram_bot/bot.py
  src/telegram_bot/utils.py
Labels: App

#18 Easy Parser Configuration + Multiple Language Packages
  .vscode/launch.json
  app.py
  src/image_processing/command_parser/ai_command_parser.py
  src/image_processing/command_parser/command_parser.py
  src/image_processing/command_parser/command_parser_creator.py
  src/image_processing/command_parser/few_shot_examples.json
  src/image_processing/command_parser/language_package.py
  src/image_processing/command_parser/pattern_command_parser.py
  src/image_processing/example.py
  src/image_processing/kernels/blur.py
  src/telegram_bot/bot.py
Labels: Image Processing
